@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: palevioletred
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: #00008B !important

}
#navbarSupportedContent a{
    color: #ffff;
    border-bottom: 2px solid transparent;

}
#navbarSupportedContent a:hover{
    border-bottom: 2px solid  #00008B;
}
#navbarSupportedContent button{
    background:  #8484bb;
    border-radius: 15px;
}
section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****Features****/
#features{
    background: url(bg2.ajkj.jpg)
}
